{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block head %}{% endblock %}
  </head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% url 'src:main' as main %}
        <a href="{{ main }}" class="navbar-brand">Planner</a>
      </div>
      <div class="navbar-collapse collapse">
        {% block menu %}
        <ul class="nav navbar-nav">
          <li><a href="{{ main }}">Главная</a></li>
          {% url 'src:roadmap_create' as rmp_create %}
          <li><a href="{{ rmp_create }}">Создать список</a></li>
          {% url 'src:task_create' as task_create %}
          <li><a href="{{ task_create }}">Создать задачу</a></li>
          {% url 'src:roadmap_list' as rmp_list %}
          <li><a href="{{ rmp_list }}">Списки</a></li>
          {% url 'src:task_list' as task_list %}
          <li><a href="{{ task_list }}">Задачи</a></li>
          {% url 'src:logout' as logout %}
          <li><a href="{{ logout }}">Выход</a></li>
          {% url 'src:password_change' as psw_change %}
          <li><a href="{{ psw_change }}">Сменить пароль</a></li>
        </ul>
        {% endblock %}
      </div>
    </div>
  </nav>

  {% block body %}{% endblock %}

  <footer class="footer">
    <div class="container-fluid">
      <p class="text-muted">Project Planner. Contact with us: <a target="_blanck" href="https://vk.com/dpetrishchev"><i class="fa fa-vk"></i></a></p>
    </div>
  </footer>

  <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
