{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
  <div class="container">
    <form id="form" action="" method="post">
      <h2 class="text-center">{{ title }}:</h2>
      {% csrf_token %}
      {% for field in form %}
        {% if form.is_bound and field.errors %}
          <div class="form-group has-error">
        {% else %}
          <div class="form-group">
        {% endif %}

        {{ field.label_tag }}
        {{ field }}
        <p class="help-block">{{ field.errors }}</p>
        </div>
      {% endfor %}
    </form>
      <button class="btn btn-success" form="form" type="submit">Сохранить</button>
      {% if return_path %}
      <a class="btn btn-danger" href="{{ return_path }}">Отменить</a>
      {% endif %}
  </div>
{% endblock %}
