{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock %}

{% block body %}
  <div class="container">
    <form id="post" class="form-signin" method="post">
      <h2 class="form-signin-heading text-center">{{ title }}:</h2>
      {% csrf_token %}

      {% for field in form %}
        {% if form.is_bound and field.errors %}
          <div class="form-group has-error">
        {% else %}
          <div class="form-group">
        {% endif %}

        {{ field.label_tag }}
        {{ field }}

        {% if field.errors %}
          <p class="help-block">{{ field.errors }}</p>
        {% endif %}

        </div>
      {% endfor %}
      <br />
      <div class="btn-toolbar" role="toolbar">
        <button form="post" class="btn btn-lg btn-success btn-block" form="form" type="submit">
          <i class="fa fa-check-square"></i> Сохранить</button>
        {% if return_path %}
          <button class="btn btn-lg btn-danger btn-block" form="get" type="submit">
            <i class="fa fa-window-close"></i> Отменить</button>
          {% endif %}
      </div>
    </form>
    <form id="get" action="{{ return_path }}" method="get">
    </form>
  </div>
{% endblock %}
