{% extends "base.html" %}
{% load static %}

{% block title %}
  Вход
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock %}

{% block menu %}
  <ul class="nav navbar-nav">
    {% url 'src:login' as login %}
    <li><a href="{{ login }}">Вход</a></li>
    {% url 'src:registration' as registration %}
    <li><a href="{{ registration }}">Регистрация</a></li>
  </ul>
{% endblock %}

{% block body %}
  <div class="container">
    <form class="form-signin" method="post">
      {% csrf_token %}

      <h2 class="form-signin-heading text-center">Вход</h2>

      {% for field in form %}

        {% if not error %}
          <div class="form-group">
        {% else %}
          <div class="form-group has-error">
        {% endif %}

          {{ field.label_tag }}
          {{ field }}

        </div>

      {% endfor %}

      {% if error %}
      <p class="help-block text-center" style="color:red">Неправильные имя/пароль</p>
      {% endif %}

      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me" />Запомнить меня
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>

      <div class="text-center">
        <br />
        {% url 'src:registration' as registration %}
        <a href="{{ registration }}" class="text-center">Регистрация</a>
      </div>

    </form>
  </div>
{% endblock %}
