{% extends "base.html" %}
{% load static %}

{% block title %}
  Смена пароля
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock %}

{% block body %}
  <div class="container">
    <form id="post" class="form-signin" action="" method="post">
      {% csrf_token %}

      <h2 class="form-signin-heading text-center">Смена пароля</h2>

      {% for field in form %}

        {% if form.is_bound and field.errors %}
          <div class="form-group has-error">
        {% else %}
          <div class="form-group">
        {% endif %}

        {{ field.label_tag }}
        {{ field }}

        {% if field.errors %}
          <p class="help-block">{{ field.errors }}</p>
        {% endif %}

        </div>
      {% endfor %}
      <br />
      <div class="btn-toolbar" role="toolbar">
        <button form="post" class="btn btn-lg btn-success" type="submit">
          <i class="fa fa-check-square"></i> Сохранить</button>
        <form id="get" action="{{ return_path }}" method="get">
          <button form="get" class="btn btn-lg btn-danger">
            <i class="fa fa-window-close"></i> Отменить</button>
        </form>
      </div>
    </form>
  </div>
{% endblock %}
