{% extends "base.html" %}
{% load filters %}

{% block title %}
  Статистика задач
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <caption class="text-center">Созданные/Решенные</caption>
            <thead>
              <tr class="active">
                <th class="col-md-1">Неделя</th>
                <th class="col-md-5">Интервал</th>
                <th class="col-md-3">Создано</th>
                <th class="col-md-3">Решено</th>
              </tr>
            </thead>
            <tbody>
              {% for year, weeks in data|sort %}
                <tr>
                  <td colspan="4" class="text-center info">{{ year }}</td>
                </tr>
                {% for week, data in weeks|sort %}
                  <tr>
                    <td>{{ week }}</td>
                    <td>{{ data.dates }}</td>
                    <td>{{ data.created }}</td>
                    <td>{{ data.solved }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <caption class="text-center">Очки</caption>
            <thead>
              <tr class="active">
                <td class="col-md-6">Месяц</td>
                <td class="col-md-6">Зачислено</td>
              </tr>
            </thead>
            <tbody>
              {% for year, months in points|sort %}
                <tr>
                  <td colspan="2" class="text-center info">{{ year }}</td>
                </tr>
                {% for month in months %}
                  <tr>
                    <td>{{ month.month }}</td>
                    <td>{{ month.points }}</td>
                  </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <a class="btn btn-primary" href="{{ return_path }}">Назад</a>
  </div>
{% endblock %}
