{% extends "base.html" %}

{% block title %}
  Списки задач
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4 class="text-center">Списки задач</h4>
        </div>
        <div class="panel-body">

          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="active">
                  <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Название</th>
                  <th class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Число задач</th>
                  <th class="col-xs-2 col-sm-2 col-md-2 col-lg-1"></th>
                </tr>
              </thead>
              <tbody>
                {% if not roadmaps %}
                  <tr>
                    <td colspan="3" class="info text-center">Еще не создано ни одного списка задач</td>
                  </tr>
                {% else %}
                  {% for roadmap in roadmaps %}
                    <tr>
                      <td>{{ roadmap.title }}</td>
                      <td>{{ roadmap.tasks.count }}</td>
                      <td>
                        {% url 'src:roadmap_statistics' roadmap.id as stat_url %}
                        <div class="btn-toolbar rmp" role="toolbar">
                          <form action="{{ stat_url }}" method="get">
                            <button class="btn btn-primary btn-xs" title="Статистика" data-toggle="tooltip" data-placement="left">
                              <i class="fa fa-pie-chart"></i>
                            </button>
                          </form>
                          {% url 'src:roadmap_tasks' roadmap.id as tasks_url %}
                          <form action="{{ tasks_url }}" method="get">
                            <button class="btn btn-primary btn-xs" title="Задачи" data-toggle="tooltip" data-placement="bottom">
                              <i class="fa fa-list"></i>
                            </button>
                          </form>
                          {% url 'src:roadmap_delete' as delete_url %}
                          <form action="{{ delete_url }}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ roadmap.id }}" />
                            <button class="btn btn-danger btn-xs" title="Удалить" data-toggle="tooltip" data-placement="right">
                              <i class="fa fa-trash-o"></i>
                            </button>
                          </form>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>

        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12">
              {% url 'src:roadmap_create' as create_url %}
              <form action="{{ create_url }}" method="get">
                <button class="btn btn-success">
                  <i class="fa fa-plus-square"></i> Создать новый список
                </bitton>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block scripts %}
    <script>
      $(document).ready (function (){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  {% endblock %}

{% endblock %}
