{% extends "base.html" %}
{% load filters %}
{% load static %}

{% block title %}
  Статистика задач
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/statistics.css" %}">
{% endblock %}

{% block body %}
  <div class="container">

    {% if data %}
      <div class="row">
        <form class="form-signin" method="post" action="">
          {% csrf_token %}
          <h2 class="form-signin-heading text-center">Выберите год</h2>
          <select class="form-control" name="year">
            {% for year, weeks in data|sort %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
            <option value="0">Все года</option>
          </select>
          <br />
          <button name="tables" value="True" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-table"></i> Таблицы
          </button>
          <button name="graphs" value="True" class="btn btn-primary btn-lg btn-block">
            <i class="fa fa-bar-chart"></i> Графики
          </button>
          <button form="back" class="btn btn-primary btn-lg btn-block" type="submit">
            <i class="fa fa-history"></i> Назад
          </button>
        </form>
        <form id="back" method="get" action="{{ return_path }}">
        </form>
      </div>
      <br />
    {% endif %}

    {% if tables or not data %}
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h4 class="text-center">Созданные/Решенные</h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr class="active">
                    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Неделя</th>
                    <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Интервал дат</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Создано</th>
                    <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Решено</th>
                  </tr>
                </thead>
                <tbody>
                  {% if not data %}
                    <tr>
                      <td colspan="4" class="text-center info">Еще не создано ни одной задачи</td>
                    </tr>
                  {% else %}
                    {% for year, weeks in data|sort %}
                      {% if year == select_year or select_year == 0 %}
                        <tr>
                          <td colspan="4" class="text-center info">{{ year }}</td>
                        </tr>
                        {% for week, data in weeks|sort %}
                          <tr>
                            <td>{{ week }}</td>
                            <td>{{ data.dates }}</td>
                            <td>{{ data.created }}</td>
                            <td>{{ data.solved }}</td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            <h4 class="text-center">Очки</h4>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr class="active">
                    <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Месяц</td>
                    <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Зачислено</td>
                  </tr>
                </thead>
                <tbody>
                  {% if not points %}
                    <tr>
                      <td colspan="4" class="text-center info">Еще не решено ни одной задачи</td>
                    </tr>
                  {% else %}
                    {% for year, months in points|sort %}
                      {% if year == select_year or select_year == 0 %}
                        <tr>
                          <td colspan="2" class="text-center info">{{ year }}</td>
                        </tr>
                        {% for month in months %}
                          <tr>
                            <td>{{ month.month }}</td>
                            <td>{{ month.points }}</td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if graphs %}
      <div class="row">
        <div>
          <div class="well well-sm">
            <img src="{{ MEDIA_URL }}{{ user.statistics }}" alt="" class="img-rounded img-responsive" />
          </div>
        </div>
      </div>
    {% endif %}
    {% if tables or graphs or not data %}
      <div class="row">
        <div class="col-md-12">
          <form method="get" action="{{ return_path }}">
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-history"></i> Назад
            </button>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
  <br />
{% endblock %}
