{% extends "base.html" %}

{% block title %}
  Список задач
{% endblock %}

{%block body %}
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h4 class="text-center">Список задач</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="active">
                  <th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Задача</th>
                  <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Статус задачи</th>
                  <th class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Срок выполнения</th>
                  <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
                </tr>
              </thead>
              <tbody>
                {% if not tasks %}
                  <tr>
                    <td class="info text-center" colspan="4">Еще не создано ни одной задачи</td>
                  </tr>
                {% else %}
                  {% for task in tasks %}
                    {% if task.is_failed %}
                      <tr class="danger">
                    {% else %}
                      {% if task.is_critical %}
                        <tr class="warning">
                      {% else %}
                        {% if task.state == "ready" %}
                          <tr class="success">
                        {% else %}
                          <tr>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                    <td>{{ task.title }}</td>
                    <td>{{ task.get_state_display }}</td>
                    <td>{{ task.estimate }}</td>
                    <td>
                      {% url 'src:task_edit' task.id as edit_url %}
                      <div class="btn-toolbar task" role="toolbar">
                        <form id="edit {{ task.id }}" action="{{ edit_url }}" method="get">
                        </form>
                        <button form="edit {{ task.id }}" type="submit" class="btn btn-primary btn-xs" title="Редактировать" data-toggle="tooltip" data-placement="left">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        {% url 'src:task_delete' as delete_url %}
                        <form id="delete {{ task.id }}" action="{{ delete_url }}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="id" value="{{ task.id }}" />
                        </form>
                        <button form="delete {{ task.id }}" type="submit" class="btn btn-danger btn-xs"
                         data-toggle="confirmation" data-singleton="true" data-popout="true"
                         data-placement="top" data-btn-ok-label="Да"
                         data-btn-ok-icon="glyphicon glyphicon-share-alt" data-btn-ok-class="btn-success btn-sm"
                         data-btn-cancel-label="Нет" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
                         data-btn-cancel-class="btn-danger btn-sm" data-title="Удалить задачу?"
                         data-content="Подтвердите действие">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
              {% url 'src:task_create' as create_url %}
              <form id="create" action="{{ create_url }}" method="get">
              </form>
              <form id="back" action="{{ return_path }}" method="get">
              </form>
              <button form="create" class="btn btn-success" type="submit">
                <i class="fa fa-plus-square"></i> Создать новую задачу
              </button>
              {% if return_path %}
                <button form="back" class="btn btn-primary" type="submit">
                  <i class="fa fa-history"></i> Назад
                </button>
              {% endif %}
            </div>
            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
              <div class="table-responsive">
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th class="success text-center">Выполнена</td>
                      <th class="warning text-center">Критична</td>
                      <th class="danger text-center">Провалена</td>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block scripts %}
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script>
      $(document).ready(function(){
        $('[data-toggle=confirmation]').confirmation({
          rootSelector: '[data-toggle=confirmation]'
        });
      });
    </script>
  {% endblock %}
{% endblock %}
